.hero-bg {
    background: var(--secondary-bg);
}

.hero-content {
    width: 90%;
    padding-block: 50px;
    margin-inline: auto;
}

.img-container {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 25px;
}

.hero-image {
    display: block;
    height: 500px;
    width: 100%;
    object-position: -10px 20px;
    transform: scale(1.2);
    object-fit: cover;
    border-radius: var(--radius);
}

.hero-icon {
    width: 1em;
    height: 1em;
}

.hero-header {
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-sub {
  color: var(--accent);
  font-size: 0.9em;
  margin-top: 15px;
}

@media (min-width: 768px) {
    .img-container {
        display: none;
    }
}