.hero-bg {
    background: var(--secondary-bg);
}

.hero-content {
    width: 90%;
    padding-block: 50px;
    margin-inline: auto;
}

.img-container {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 25px;
}

.hero-image {
    display: block;
    height: 500px;
    width: 100%;
    object-position: -10px 20px;
    transform: scale(1.2);
    object-fit: cover;
    border-radius: var(--radius);
}

.hero-icon {
    width: 1em;
    height: 1em;
}

.hero-header {
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-sub {
  color: var(--accent);
  font-size: 0.9em;
  margin-top: 15px;
}

.hero-btn-container {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.hero-btn1 {
    font-weight: 600;
}

@media (min-width: 768px) {
    .img-container {
        display: none;
    }

    .hero-bg {
        background: url("../assets/images/hero.webp");
        background-repeat: none;
        background-size: cover;
        width: 100%;
        min-height: clamp(540px, 80vh, 720px);

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-header,
    .hero-sub {
        color: hsl(160, 55%, 60%);
    }
    .hero-sub {
        font-weight: 600;
    }
    .hero-heading {
        color: white;
    }
    .hero-subtitle {
        color: rgba(255, 255, 255, 0.9);
    }
    .hero-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0.2), transparent, transparent);
    }
    .hero-content {
        height: 100%;
        width: 90%;
        position: relative;
        z-index: 1;
    }
    
    .content-container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .hero-content {
        width: min(80%, 1126px);
    }
}