.hero-bg {
    background: var(--secondary-bg);
    margin-top: 50px;
    scroll-margin-top: 50px;
}

.hero-content {
    width: 90%;
    margin-inline: auto;
    padding-block: 50px;
}

.img-container {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.hero-image {
    display: block;
    height: 400px;
    width: 100%;
    object-position: -10px 35%;
    transform: scale(1.2);
    object-fit: cover;
    border-radius: var(--radius);
}

.hero-icon {
    width: 1em;
    height: 1em;
}

.hero-sub {
  color: var(--accent);
  font-size: 0.9em;
  margin-top: 15px;
}

.hero-btn-container {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.hero-btn1 {
    font-weight: 600;
}
.hero-btn2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .img-container {
        display: none;
    }

    .hero-bg {
        background: url("../assets/images/3.webp");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-color: var(--secondary-bg);
        min-height: clamp(540px, 80vh, 720px);

        margin-top: initial;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  
    .hero-sub {
        color: hsl(160, 55%, 60%);
    }

    .hero-sub {
        font-weight: 600;
    }

    .hero-heading {
        color: white;
    }

    .hero-subtitle {
        color: rgba(255, 255, 255, 0.9);
    }
    
    .hero-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0.2), transparent, transparent, transparent);
    }

    .hero-content {
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .raise {
        color: white !important;
    }

    .bar-head,
    .percent {
      color: rgba(255, 255, 255, 0.9);
    }
    .content-container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .hero-content {
        width: min(80%, 1126px);
    }

      .hero-header {
        margin-bottom: -25px;
    }
}