.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.accordion-item {
    background-color: var(--card);
    border-radius: var(--radius);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    width: min(100%, 650px);
}

.accordion-title {
    border-radius: var(--radius);
    width: 100%;
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card);
    font-weight: 600;
    text-align: left;
    border: none;
    color: var(--text-h);
}
.inner-content {
    padding: 0px 15px 15px;
}